Task1-2/_ncbi_downloads
.Rproj.user
*.aux
*.fls
*.fdb_latexmk
*.log
*.toc
Project/main.synctex.gz
Project/*
!Project/main.tex
!Project/main.pdf
!Project/main.Rnw
!Project/main2.tex
!Project/main2.pdf
!Project/main2.Rnw
!Project/starter.R
!Project/compile.sh
